

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* ------------------ HEADER ------------------ */

#header-container {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}

#header-child-div-1 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.header-h1 {
  font-size: 50px;
}

#circle_photo {
  max-width: 400px;
}